.lContainer{
	background-color: #eeeeee;
    border-radius: 2px;
    display:block;
    line-height: 20px;
    margin: 0px 0px 0px;
    padding: 8.5px;
    text-align: left;
    width: 30%;
    text-align: center;
    margin:0px auto;
    box-shadow: 0px 1px 6px;
    color:#716666;
    font-weight:700;

}
div.img {
    margin-right: 13px;
    margin-top: 13px;
    border: 1px solid #9F9FA2;
    height: auto;
    width: auto;
    float: left;
    background-color: #f1f1f1;
}	
div.img img {
    display: inline;
    border: 1px solid #ffffff;
}
div.img a:hover img {
    border: 1px solid #0000ff;
}
div.desc {
	text-align: left;
	font-weight: normal;
	width: 290px;
	margin-top: 60px;
	margin-left:5px;
}
.fName{
	float:left;
	margin-left:5px;
	width:180px;
}
.fPrice{
	float:right;
	margin-right:5px;
}
.btn-group-justified{
	width:20% !important;
}
.dTitle{
	text-align: center;
}
.lDirection{
	float:right;
	color:grey;
	margin-top:6px;
}
div.lContainer:hover{
	background: #ffecec;
}
.menuContainer{
	margin:20px;
}
div.menuSelect:hover{
	background: white;
}
.menuSelect{
    box-shadow: 0px 1px 4px;
}